.App {
	text-align: center;
}
.Header {
	color: #fac927;
	text-shadow: 2px 2px 10px black;
	font-size: 4.5rem;
	margin-top: 2%;
}
h2 {
	color: #fac927;
}
h3 {
	padding-top: 6%;
}
p {
	font-weight: bold;
	color: gray;
}
/* write your parent styles in here for your App.js */
